export GTK_THEME=Adwaita-dark
export QT_QPA_PLATFORMTHEME=qt5ct

# IM
unset GTK_IM_MODULE
export XMODIFIERS=@im=fcitx
unset QT_IM_MODULE
export QT_IM_MODULE=fcitx
export QT_IM_MODULES="fcitx"
export GLFW_IM_MODULE=fcitx
export SDL_IM_MODULE=fcitx
